In [51]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [52]:
data = pd.read_csv('Churn_Modelling.csv', delimiter=';')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [53]:
data = data.drop(['RowNumber','Surname','CreditScore'],axis=1)
data

,CustomerId,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,15634602,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,15606229,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,15569892,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,15584532,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,15682355,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,15628319,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [54]:
label_encoder_gen = LabelEncoder()
data['Gender'] = label_encoder_gen.fit_transform(data['Gender'])
data

,CustomerId,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,15634602,France,0,42,2,0.00,1,1,1,101348.88,1
1,15647311,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,15619304,France,0,42,8,159660.80,3,1,0,113931.57,1
3,15701354,France,0,39,1,0.00,2,0,0,93826.63,0
4,15737888,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,15606229,France,1,39,5,0.00,2,1,0,96270.64,0
9996,15569892,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,15584532,France,0,36,7,0.00,1,0,1,42085.58,1
9998,15682355,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,15628319,France,0,28,4,130142.79,1,1,0,38190.78,0

In [55]:
from sklearn.preprocessing import OneHotEncoder

OHE_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = OHE_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded,columns=OHE_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [56]:
data = pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

,CustomerId,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,15634602,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,15647311,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,15619304,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,15701354,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,15737888,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [57]:
x = data.drop('EstimatedSalary',axis=1)
y = data['EstimatedSalary']

## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [58]:
with open('label_encoder_gender.pkl','wb') as file : 
    pickle.dump(label_encoder_gen,file)

with open('One_Hot_Encoder_geo.pkl','wb') as file : 
    pickle.dump(OHE_geo,file)

with open('scaler.pkl','wb') as file : 
    pickle.dump(scaler,file)

### ANN regression

In [59]:
import tensorflow as tf 
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
#from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
#import datetime

### Build Model

In [60]:
model = Sequential([
    Dense(64,activation='relu',input_shape=((X_train.shape[1],))), #first HL connected with input layer
    Dense(32,activation='relu'),                                   #HL 2
    Dense(1)                                                       #Output Layer
]
)

#compile
model.compile(optimizer='adam' ,loss='mean_absolute_error' ,metrics=['mean_squared_error'] )

C:\Users\SEMEH SAYADI\AppData\Roaming\Python\Python312\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [61]:
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [62]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime


log_dir="regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

In [63]:
early_stopping_callback = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [64]:
history = model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=100,callbacks=[tensorflow_callback,early_stopping_callback])

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - loss: 100052.7812 - mean_squared_error: 13307480064.0000 - val_loss: 98577.5156 - val_mean_squared_error: 13018887168.0000
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 99581.9531 - mean_squared_error: 13262956544.0000 - val_loss: 97443.0078 - val_mean_squared_error: 12795414528.0000
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 97810.0234 - mean_squared_error: 12806573056.0000 - val_loss: 94515.0859 - val_mean_squared_error: 12217512960.0000
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 94777.9531 - mean_squared_error: 12295299072.0000 - val_loss: 89460.6875 - val_mean_squared_error: 11221021696.0000
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 88897.3828 - mean_squared_error: 11089661952.0000 - val_loss: 82616.2656 - val_mean_squared_error: 9868102656.0000
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 82876.5781 - mean_squared_error: 9851678720.0000 - val_loss: 74772.9062 - val_mean_squared_error: 8310579200.0000
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 73013.8984 - mean_squared_error: 7953196032.0000 - val_loss: 67221.1875 - val_mean_squared_error: 6792995328.0000
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 65524.2109 - mean_squared_error: 6406976000.0000 - val_loss: 60964.7969 - val_mean_squared_error: 5522853888.0000
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 59879.4883 - mean_squared_error: 5329061888.0000 - val_loss: 56400.5195 - val_mean_squared_error: 4609757184.0000
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 55921.3711 - mean_squared_error: 4517063168.0000 - val_loss: 53574.2930 - val_mean_squared_error: 4060141824.0000
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 53540.8516 - mean_squared_error: 4057235712.0000 - val_loss: 52196.8828 - val_mean_squared_error: 3775830272.0000
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 51603.2930 - mean_squared_error: 3709565952.0000 - val_loss: 51607.6367 - val_mean_squared_error: 3648458752.0000
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50677.4141 - mean_squared_error: 3542240768.0000 - val_loss: 51329.3125 - val_mean_squared_error: 3594871296.0000
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50182.2305 - mean_squared_error: 3471276544.0000 - val_loss: 51199.1289 - val_mean_squared_error: 3568271872.0000
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50372.9297 - mean_squared_error: 3473151744.0000 - val_loss: 51110.3789 - val_mean_squared_error: 3550833920.0000
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50551.7812 - mean_squared_error: 3470329088.0000 - val_loss: 51047.9258 - val_mean_squared_error: 3538816512.0000
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50551.5156 - mean_squared_error: 3518745600.0000 - val_loss: 50992.7539 - val_mean_squared_error: 3527973888.0000
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50099.3008 - mean_squared_error: 3449436928.0000 - val_loss: 50950.2930 - val_mean_squared_error: 3519658240.0000
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49431.0938 - mean_squared_error: 3349767680.0000 - val_loss: 50902.6172 - val_mean_squared_error: 3511008256.0000
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50113.2305 - mean_squared_error: 3430081280.0000 - val_loss: 50857.6367 - val_mean_squared_error: 3502511616.0000
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50076.4141 - mean_squared_error: 3412787968.0000 - val_loss: 50825.2969 - val_mean_squared_error: 3496306688.0000
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49805.9336 - mean_squared_error: 3388515584.0000 - val_loss: 50791.3164 - val_mean_squared_error: 3489880064.0000
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49127.7695 - mean_squared_error: 3322999296.0000 - val_loss: 50758.7109 - val_mean_squared_error: 3483836416.0000
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49771.0742 - mean_squared_error: 3397592832.0000 - val_loss: 50731.6562 - val_mean_squared_error: 3478219264.0000
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50486.1133 - mean_squared_error: 3456839168.0000 - val_loss: 50699.5352 - val_mean_squared_error: 3472154880.0000
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49976.6016 - mean_squared_error: 3391083008.0000 - val_loss: 50680.9297 - val_mean_squared_error: 3468566272.0000
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49141.2773 - mean_squared_error: 3307784704.0000 - val_loss: 50653.7695 - val_mean_squared_error: 3462907648.0000
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49705.9531 - mean_squared_error: 3364550656.0000 - val_loss: 50635.0586 - val_mean_squared_error: 3459558656.0000
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49915.0039 - mean_squared_error: 3378734592.0000 - val_loss: 50620.8477 - val_mean_squared_error: 3456263168.0000
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50330.4531 - mean_squared_error: 3425689344.0000 - val_loss: 50605.7031 - val_mean_squared_error: 3452549120.0000
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49945.2227 - mean_squared_error: 3390702592.0000 - val_loss: 50596.6406 - val_mean_squared_error: 3450018048.0000
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49715.9609 - mean_squared_error: 3365665792.0000 - val_loss: 50583.6367 - val_mean_squared_error: 3447167488.0000
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49053.3516 - mean_squared_error: 3294788352.0000 - val_loss: 50563.1758 - val_mean_squared_error: 3443654400.0000
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49976.5664 - mean_squared_error: 3388625152.0000 - val_loss: 50564.8359 - val_mean_squared_error: 3442599424.0000
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49235.8125 - mean_squared_error: 3313499648.0000 - val_loss: 50543.6953 - val_mean_squared_error: 3437914368.0000
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49963.4844 - mean_squared_error: 3385370112.0000 - val_loss: 50529.5547 - val_mean_squared_error: 3435089408.0000
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49661.9219 - mean_squared_error: 3376716032.0000 - val_loss: 50525.3242 - val_mean_squared_error: 3433372928.0000
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49552.1758 - mean_squared_error: 3345214976.0000 - val_loss: 50510.6992 - val_mean_squared_error: 3430462208.0000
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49577.6836 - mean_squared_error: 3345961984.0000 - val_loss: 50507.8750 - val_mean_squared_error: 3428394240.0000
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49469.2422 - mean_squared_error: 3318059520.0000 - val_loss: 50485.5352 - val_mean_squared_error: 3424579072.0000
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49879.8086 - mean_squared_error: 3348812288.0000 - val_loss: 50489.8320 - val_mean_squared_error: 3423597056.0000
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49793.7578 - mean_squared_error: 3349966848.0000 - val_loss: 50475.8555 - val_mean_squared_error: 3421439232.0000
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49760.9062 - mean_squared_error: 3369415680.0000 - val_loss: 50465.6914 - val_mean_squared_error: 3419738112.0000
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49498.1016 - mean_squared_error: 3324000512.0000 - val_loss: 50468.0547 - val_mean_squared_error: 3419325696.0000
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49481.7266 - mean_squared_error: 3340107776.0000 - val_loss: 50467.6562 - val_mean_squared_error: 3418150912.0000
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49701.9766 - mean_squared_error: 3356547840.0000 - val_loss: 50457.3398 - val_mean_squared_error: 3416430080.0000
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49649.9492 - mean_squared_error: 3356821504.0000 - val_loss: 50449.4922 - val_mean_squared_error: 3414708736.0000
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49286.0430 - mean_squared_error: 3301512192.0000 - val_loss: 50444.7383 - val_mean_squared_error: 3413669632.0000
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49525.3438 - mean_squared_error: 3333877760.0000 - val_loss: 50449.6094 - val_mean_squared_error: 3413995264.0000
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49480.0391 - mean_squared_error: 3326089472.0000 - val_loss: 50441.3047 - val_mean_squared_error: 3412155136.0000
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49636.7617 - mean_squared_error: 3333687552.0000 - val_loss: 50437.9922 - val_mean_squared_error: 3411539456.0000
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49525.5430 - mean_squared_error: 3325723136.0000 - val_loss: 50442.2773 - val_mean_squared_error: 3411641344.0000
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49110.5586 - mean_squared_error: 3286836992.0000 - val_loss: 50437.2812 - val_mean_squared_error: 3410748672.0000
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50182.7617 - mean_squared_error: 3407974144.0000 - val_loss: 50433.2109 - val_mean_squared_error: 3409500160.0000
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49294.7969 - mean_squared_error: 3319715584.0000 - val_loss: 50432.3984 - val_mean_squared_error: 3409123584.0000
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49561.6250 - mean_squared_error: 3338585600.0000 - val_loss: 50435.1289 - val_mean_squared_error: 3409087488.0000
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49411.5039 - mean_squared_error: 3296680704.0000 - val_loss: 50426.1484 - val_mean_squared_error: 3407478528.0000
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49361.7070 - mean_squared_error: 3310656000.0000 - val_loss: 50417.9023 - val_mean_squared_error: 3406477056.0000
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49996.9648 - mean_squared_error: 3380250624.0000 - val_loss: 50420.1680 - val_mean_squared_error: 3405912320.0000
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49727.7734 - mean_squared_error: 3359366912.0000 - val_loss: 50431.7773 - val_mean_squared_error: 3407803136.0000
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49847.4805 - mean_squared_error: 3355849472.0000 - val_loss: 50429.5195 - val_mean_squared_error: 3406941952.0000
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50091.3828 - mean_squared_error: 3364332288.0000 - val_loss: 50431.8164 - val_mean_squared_error: 3407083264.0000
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49644.0117 - mean_squared_error: 3347498752.0000 - val_loss: 50427.7578 - val_mean_squared_error: 3406145792.0000
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49787.8789 - mean_squared_error: 3349302272.0000 - val_loss: 50432.5625 - val_mean_squared_error: 3406834688.0000
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50315.2656 - mean_squared_error: 3406979840.0000 - val_loss: 50433.8789 - val_mean_squared_error: 3406620672.0000
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49335.6562 - mean_squared_error: 3308223488.0000 - val_loss: 50435.3672 - val_mean_squared_error: 3406422272.0000
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 48943.9414 - mean_squared_error: 3274385152.0000 - val_loss: 50432.8516 - val_mean_squared_error: 3405988864.0000
Epoch 68/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50230.4844 - mean_squared_error: 3407918592.0000 - val_loss: 50443.8828 - val_mean_squared_error: 3407393024.0000

In [65]:
%load_ext tensorboard

In [67]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6007 (pid 14120), started 0:00:36 ago. (Use '!kill 14120' to kill it.)

In [68]:
test_loss,test_mse = model.evaluate(X_test,y_test)
print(f'testMSE:{test_mse}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51151.1758 - mean_squared_error: 3479511808.0000
testMSE:3406477056.0

In [70]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.